$font: Avenir, Helvetica, Arial, sans-serif;
$font-mono: 'JetBrains Mono', Consolas, monospace;

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	font-family: $font-mono;
	font-size: 12px;
	text-rendering: optimizeSpeed;
}

ul[class], ol[class] {
	margin: 0;
	padding: 0;
	list-style: none;
}

blockquote, dd, dl, figcaption, figure, h1, h2, h3, h4, li, p {
	margin: 0;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	display: block;
	max-width: 100%;
}

button, input, select, textarea {
	font: inherit;
}
