$font: Avenir, Helvetica, Arial, sans-serif;
$font-mono: 'JetBrains Mono', Consolas, monospace;

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	font-family: $font-mono;
	font-size: 12px;
	text-rendering: optimizeSpeed;
}

ul[class], ol[class] {
	margin: 0;
	padding: 0;
	list-style: none;
}

blockquote, dd, dl, figcaption, figure, h1, h2, h3, h4, li, p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

button {
	padding: 0;
	border: none;
}

a, button, input, select, textarea {
	color: inherit;
	font: inherit;
	outline: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
	box-shadow: inset 0 0 2px 1px var(--color);
}
